@import 'normalize.scss';

// --- Fonts ---
@font-face {
    font-family: 'Circular Medium';
    src: url('/fonts/circular/CircularStd-Medium.ttf');
}

@font-face {
    font-family: 'Circular Book';
    src: url('/fonts/circular/CircularStd-Book.otf');
}

@font-face {
    font-family: 'Austin';
    src: url('/fonts/austin/AustinCyr-Roman.ttf');
}

// --- / Fonts ---

// --- Variables ---
$color-black: #000000;
$color-blue: #dcf3f7;
$color-grey: #F1F3F2;
$color-white: #ffffff;
$color-dark-grey:#7c7c7c;

$screen-phone: 470px;
$screen-md: 767px;
$screen-lg: 1100px;
// --- / Variables ---

// --- Mixins ---
@mixin circular-book {
    font-family: 'Circular Book';
    font-size: 22px;
}

@mixin h1 {
    font-family: 'Circular Medium';
    font-size: 85px;
    line-height: 90px;
    color: $color-white;
    letter-spacing: -2.1px;
    font-weight: normal;
}

@mixin h1-md {
    font-family: 'Circular Medium';
    font-size: 70px;
    line-height: 75px;
    color: $color-white;
    letter-spacing: -2.1px;
    font-weight: normal;
}

@mixin h2 {
    font-family: 'Circular Medium';
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -1px;
    color: $color-black;
    font-weight: 500;
}

@mixin h2-md {
    font-family: 'Circular Medium';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: $color-black;
    font-weight: 500;
}

@mixin h3 {
    font-family: 'Circular Book';
    font-size: 19px;
    line-height: 25px;
    color: $color-dark-grey;
    font-weight: 500;
}

@mixin h3-lg {
    font-family: 'Circular Book';
    font-size: 17px;
    line-height: 23px;
    color: $color-dark-grey;
    font-weight: 500;
}

@mixin subtitle {
    font-family: 'Austin';
    font-size: 22px;
    line-height: 28px;
}

@mixin subtitle-md {
    font-family: 'Austin';
    font-size: 15px;
    line-height: 23px;
}

@mixin a-circular {
    font-family: 'Circular Medium';
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -1px;
    color: $color-black;
}

@mixin footer-style {
    font-family: 'Circular Book';
    font-size: 19px;
    line-height: 25px;
    color: $color-white;
}

@mixin footer-style-md {
    font-family: 'Circular Book';
    font-size: 17px;
    line-height: 23px;
    color: $color-white;
}


// --- / Mixins ---

* {
    box-sizing: border-box;
}

.section-inner {
    width: 92.6%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

// --- header ---
header {
    @include circular-book;

    @media (max-width: $screen-lg) {
        font-size: 17px;
    }

    .section-inner-header {
        @media (min-width: $screen-lg) {
            width: 92.6%;
            margin: 0 auto;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 23px;

        @media (max-width: $screen-lg) {
            background-color: $color-black;
            margin: 0 0 0 0;
        }

        li {
            line-height: 70px;
        }

        a {
            text-decoration: none;
            color: $color-black;
            opacity: 1;

            @media (max-width: $screen-lg) {
                color: $color-white;
            }

            @media (max-width: $screen-phone) {
                font-size: 12px;
            }

            &:hover,
            &:focus {
                opacity: 0.6;
                transition: opacity .4s ease-in-out;
            }

            &:not(hover) {
                opacity: 1;
                transition: opacity .4s ease-in-out;
            }

            img {
                margin-right: 2px;
            }

            span {
                @media (max-width: 320px) {
                    display: none;
                }
            }
        }

        a+a {
            margin-left: 20px;

            @media (max-width: $screen-phone) {
                margin-left: 5px;
            }
        }

        .nav-left {
            @media (max-width: $screen-lg) {
                padding-left: 19px;
            }
        }

        .nav-right {
            @media (max-width: $screen-lg) {
                padding-right: 19px;
            }

            span {
                font-size: 18px;
                line-height: 70px;
            }

            select {
                margin-left: 20px;
                border: 1px solid $color-black;
                padding: 0 20px;
                font-size: 15px;
                line-height: 15px;
                -webkit-appearance: none;
                height: 40px;
                cursor: pointer;

                @media (max-width: $screen-lg) {
                    border: 1px solid $color-black;
                    color: $color-white;
                    background-color: $color-black;
                }

                @media (max-width: $screen-phone) {
                    font-size: 12px;
                    margin-left: 0;
                }

                &:hover {
                    opacity: 0.5;
                    transition: opacity .4s ease-in-out;

                    @media (max-width: $screen-lg) {
                        border: 1px solid $color-grey;
                        transition: .3s ease-in-out;
                    }
                }

                &:not(hover) {
                    opacity: 1;
                    transition: opacity border .4s ease-in-out;

                    @media (max-width: $screen-lg) {
                        border: 1px solid $color-black;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }

        .logo {
            width: 300px;
            margin-top: 30px;
            margin-bottom: 0px;
            align-self: center;
            margin-left: 10px;

            @media (max-width: $screen-lg) {
                display: none;
            }
        }
    }

    .logo-main {
        width: 200px;
        margin: 28px auto;

        @media (min-width: $screen-lg) {
            display: none;
        }
    }

    .category-nav {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0 0 0 0;
        margin: 0 0 38px;

        @media (max-width: $screen-lg) {
            margin: 0 0 28px;
        }

        li+li {
            margin-left: 50px;
        }

        a {
            color: $color-black;
            line-height: 20px;
            display: inline-block;
            padding-bottom: 6px;
            position: relative;
            opacity: 1;

            @media (max-width: $screen-lg) {
                font-size: 16px;
                font-weight: 200;
            }

            &:hover,
            &:focus {
                opacity: 0.6;
                transition: opacity .4s ease-in-out;
            }

            &:not(hover) {
                opacity: 1;
                transition: opacity .4s ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: 0px;
                left: 0;
                display: block;
                content: "";
                height: 1px;
                width: 0%;
                background-color: $color-black;
                transition: width .4s ease-in-out;
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }
    }

    .icon-black {
        @media (max-width: $screen-lg) {
            display: none;
        }
    }

    .icon-white {
        @media (min-width: $screen-lg) {
            display: none;
        }
    }
}

// --- / header ---

// ---  swiper ---
.section-swiper {
    padding-bottom: 22px;
    overflow: visible;

    @media (max-width: $screen-lg) {
        padding-bottom: 15px;
    }

    @media (max-width: $screen-md) {
        padding-bottom: 8px;
    }

    .swiper-container {
        display: inline-block;
        width: 100%;

        .swiper-wrapper {
            .swiper-slide {
                .image {
                    padding: 0 0 55% 0;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .content {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        top: 50%;
                        transform: translate(0, -50%);

                        h1 {
                            @include h1;
                            padding: 0 145px;
                            margin: 0 0 0 0;

                            @media (max-width: $screen-lg) {
                                @include h1-md;
                                padding: 0 115px;
                            }

                            @media (max-width: $screen-md) {
                                padding: 0 65px;
                                font-size: 22px;
                                line-height: 27px;
                                letter-spacing: -0.6px;
                            }
                        }
                    }

                    .subtitle {
                        text-align: center;
                        padding: 0 0 11px;
                        transform: scaleY(0.9);

                        .subtitle-link {
                            @include subtitle;
                            color: $color-white;
                            line-height: 20px;
                            margin: 56px 0 0 0;
                            display: inline-block;
                            padding-bottom: 15px;
                            position: relative;

                            @media (max-width: $screen-lg) {
                                margin: 37px 0 0 0;
                            }

                            @media (max-width: $screen-md) {
                                margin: 10px 0 0 0;
                                padding-bottom: 4px;
                            }

                            @media (max-width: $screen-md) {
                                @include subtitle-md;
                            }

                            &::after {
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                display: block;
                                content: "";
                                height: 1px;
                                width: 100%;
                                background-color: $color-white;
                                transition: width .4s ease-in-out;
                            }

                            &:hover:after,
                            &:focus:after {
                                width: 0%;
                            }
                        }
                    }
                }
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        img {
            width: 65px;
            height: 65px;

            @media (max-width: $screen-md) {
                width: 30px;
                height: 30px;
            }
        }
    }

    .swiper-button-prev {
        margin-left: 50px;

        @media (max-width: $screen-md) {
            margin-left: 5px;
        }
    }

    .swiper-button-next {
        margin-right: 50px;

        @media (max-width: $screen-md) {
            margin-right: 5px;
        }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }
}

// ---  swiper ---

// ---  news ---
.section-news {
    background-color: $color-grey;
    padding-top: 24px;
    margin-bottom: 70px;

    @media (max-width: $screen-lg) {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    @media (max-width: $screen-md) {
        padding-top: 16px;
        margin-bottom: 17px;
    }

    .item-wrapper {
        display: flex;

        .item-left {
            width: 33.33%;
            padding-right: 22px;

            @media (max-width: $screen-lg) {
                width: 50%;
                padding-right: 15px;
            }

            @media (max-width: $screen-md) {
                padding-right: 7px;
            }
        }

        .item-right {
            width: 66.66%;
            padding-left: 22px;

            @media (max-width: $screen-lg) {
                width: 50%;
                padding-left: 15px;
            }

            @media (max-width: $screen-md) {
                padding-left: 7px;
            }
        }

        .image {
            position: relative;

            @media (min-width: $screen-lg) {
                height: 500px;
            }

            @media (max-width: $screen-lg) {
                padding: 0 0 140% 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                position: absolute;
                top: 0;
                left: 0;
            }

            .hover-text {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(220, 243, 247, 0.9);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity, ease-out 0.4s;
                cursor: pointer;

                @media (max-width: $screen-md) {
                    display: none;
                }

                a {
                    @include a-circular;
                    display: block;
                    padding-left: 43px;
                    padding-top: 48px;
                }
            }

            &:hover .hover-text {
                opacity: 1;
            }
        }

        .subtitle {
            text-align: center;
            padding: 0 0 11px;
            margin: 43px 0 39px;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: scaleY(0.9);
            position: relative;

            @media (max-width: $screen-md) {
                margin: 13px 0 13px;
                padding: 0 0 0 0;
            }

            .subtitle-link {
                @include subtitle;
                color: $color-black;
                line-height: 20px;
                display: inline-block;
                padding-bottom: 10px;
                position: relative;

                @media (max-width: $screen-md) {
                    @include subtitle-md;
                    padding-bottom: 2px;
                }

                &::after {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    display: block;
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: $color-black;
                    transition: width .4s ease-in-out;
                }

                &:hover:after,
                &:focus:after {
                    width: 0%;
                }
            }
        }

        .title {
            text-align: center;
            margin: 0 0 63px;

            @media (max-width: $screen-md) {
                margin: 0 0 15px;
            }

            h2 {
                @include h2;

                @media (max-width: $screen-md) {
                    @include h2-md;
                    margin: 0 0 0 0;
                }

                &:hover {
                    color: $color-dark-grey;
                    transition: color .4s ease-in-out;
                }

                &:not(hover) {
                    color: $color-black;
                    transition: color .4s ease-in-out;
                }
            }
        }
    }
}

// ---  / news ---

// --- promo ---
.section-promo {
    margin-bottom: 70px;
    text-align: center;

    @media (max-width: $screen-lg) {
        margin-bottom: 40px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 17px;
    }

    .wrapper {
        background: url('../img/promo.jpg') no-repeat 50% 50%;
        background-size: cover;
        height: 363px;
        display: block;

        @media (max-width: $screen-lg) {
            height: 343px;
        }

        @media (max-width: $screen-md) {
            height: 157px;
        }

        h2 {
            @include h2;
            padding: 100px 0 0;
            margin: 0 0 13px;

            @media (max-width: $screen-lg) {
                padding: 80px 0 0;
            }

            @media (max-width: $screen-md) {
                font-size: 22px;
                line-height: 27px;
                letter-spacing: -0.6px;
                padding: 35px 0 0;
            }

            &:hover {
                color: $color-dark-grey;
                transition: color .4s ease-in-out;
            }

            &:not(hover) {
                color: $color-black;
                transition: color .4s ease-in-out;
            }
        }

        .subtitle-link {
            @include subtitle;
            color: $color-black;
            line-height: 20px;
            display: inline-block;
            padding-bottom: 11px;
            margin: 43px 0 85px;
            position: relative;

            @media (max-width: $screen-md) {
                @include subtitle-md;
                margin: 0 0 28px;
                padding-bottom: 2px;
            }

            &::after {
                position: absolute;
                bottom: 0px;
                left: 0;
                display: block;
                content: "";
                height: 1px;
                width: 100%;
                background-color: $color-black;
                transition: width .4s ease-in-out;
            }

            &:hover:after,
            &:focus:after {
                width: 0%;
            }
        }

        p {
            font-family: 'Austin';
            font-size: 24px;
            line-height: 28px;
        }
    }
}

// --- / promo ---

// --- featured ---
.section-featured {
    .item-wrapper {
        display: flex;

        .hide {
            @media (max-width: $screen-lg) {
                display: none;
            }
        }

        .item+.item {
            margin-left: 30px;

            @media (max-width: $screen-md) {
                margin-left: 14px;
            }
        }

        .item {
            width: 33.33%;

            @media (max-width: $screen-lg) {
                width: 50%;
            }

            .image {
                padding: 0 0 140% 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .hover-text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(220, 243, 247, 0.9);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity, ease-out 0.4s;
                    cursor: pointer;

                    @media (max-width: $screen-md) {
                        display: none;
                    }

                    a {
                        @include a-circular;
                        display: block;
                        padding-left: 43px;
                        padding-top: 48px;
                    }
                }

                &:hover .hover-text {
                    opacity: 1;
                }
            }

            .subtitle {
                text-align: center;
                padding: 0 0 11px;
                margin: 43px 0 39px;
                transform: scaleY(0.9);

                @media (max-width: $screen-md) {
                    margin: 13px 0 13px;
                    padding: 0 0 0 0;
                }

                .subtitle-link {
                    @include subtitle;
                    color: $color-black;
                    line-height: 20px;
                    display: inline-block;
                    padding-bottom: 10px;
                    position: relative;

                    @media (max-width: $screen-md) {
                        @include subtitle-md;
                        padding-bottom: 2px;
                    }

                    &::after {
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        display: block;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: $color-black;
                        transition: width .4s ease-in-out;
                    }

                    &:hover:after,
                    &:focus:after {
                        width: 0%;
                    }
                }
            }

            .title {
                text-align: center;
                margin: 0 0 63px;

                @media (max-width: $screen-md) {
                    margin: 0 0 15px;
                }

                h2 {
                    @include h2;

                    @media (max-width: $screen-md) {
                        @include h2-md;
                        margin: 0 0 0 0;
                    }

                    &:hover {
                        color: $color-dark-grey;
                        transition: color .4s ease-in-out;
                    }

                    &:not(hover) {
                        color: $color-black;
                        transition: color .4s ease-in-out;
                    }
                }
            }
        }
    }
}

// --- / featured ---

// ---  letter ---
.section-letter {
    background-color: $color-blue;
    margin-bottom: 30px;

    @media (max-width: $screen-md) {
        margin-top: 11px;
    }

    .letter-wrapper {
        display: flex;
        height: 254px;
        align-items: center;
        text-align: center;

        @media (max-width: $screen-lg) {
            flex-direction: column;
            height: 389px;
        }

        @media (max-width: $screen-md) {
            flex-direction: column;
            height: 238px;
        }

        h2 {
            @include h2;
            flex-basis: 33.33%;
            margin: 0 22px 0 0;

            @media (max-width: $screen-lg) {
                margin: 62px 0 28px;
            }

            @media (max-width: $screen-md) {
                flex-basis: 33.33%;
                font-size: 22px;
                line-height: 27px;
                letter-spacing: -0.6px;
                margin: 25px 0 0;
            }
        }

        p {
            @include circular-book;
            flex-basis: 33.33%;
            margin: 0 22px 0;

            @media (max-width: $screen-lg) {
                margin: 9px 0 22px;
            }

            @media (max-width: $screen-md) {
                font-size: 16px;
                line-height: 20px;
                margin: 9px 0 10px;
            }
        }

        .form {
            flex-basis: 33.33%;
            margin-left: 22px;

            @media (max-width: $screen-lg) {
                width: 100%;
                margin: 0 0 62px;
            }

            @media (max-width: $screen-md) {
                width: 100%;
                margin: 0 0 35px;
            }

            input,
            button {
                @include subtitle;
                width: 100%;
                line-height: 70px;
                height: 70px;
                background-color: $color-blue;
                border: 1px solid black;
                padding: 0 20px 0;

                @media (max-width: $screen-md) {
                    font-size: 16px;
                    line-height: 0px;
                    height: 50px;
                }
            }

            button {
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                    transition: opacity .4s ease-in-out;
                }

                &:not(hover) {
                    opacity: 1;
                    transition: opacity .4s ease-in-out;
                }
            }

            input {
                border-bottom: 0;
            }
        }
    }
}

// --- / letter ---

// --- instagram ---
.section-instagram {

    .wrapper {
        text-align: center;
        margin: 0 0 30px;

        @media (max-width: $screen-md) {
            margin: 0 0 17px;
        }

        h2 {
            @include h2;
            margin: 52px 0 92px;

            @media (max-width: $screen-lg) {
                margin: 22px 0 62px;
            }

            @media (max-width: $screen-md) {
                font-size: 22px;
                line-height: 27px;
                letter-spacing: -0.6px;
                margin: 25px 0 0;
            }
        }

        .images {
            display: flex;
            padding: 22px 0 22px;

            .image+.image {
                margin-left: 44px;

                @media (max-width: $screen-lg) {
                    margin-left: 30px;
                }

                @media (max-width: $screen-md) {
                    margin-left: 14px;
                }
            }

            .image {
                flex-basis: 33.33%;
                opacity: 1;
                transition: .4s;

                img {
                    width: 100%;
                    object-fit: cover;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

// --- / instagram ---

// --- footer ---
footer {
    background-color: $color-black;
    @include footer-style;

    @media (max-width: $screen-md) {
        @include footer-style-md;
    }

    .wrapper {
        padding: 73px 0 40px;

        @media (max-width: $screen-lg) {
            padding: 23px 0 40px;
        }

        .button-up {
            height: 70px;
            width: 70px;
            border: 1px solid $color-white;
            float: right;
            margin: 19px 0 0;
            cursor: pointer;
            overflow: hidden;
            padding: 0 ;
            font-size: 22px;

            @media (max-width: $screen-md) {
                font-size: 17px;
                height: 50px;
            width: 50px;
            }

            
            .wrapper-b {
                display: inline-block;
                position: relative;
                height: 70px;
            width: 70px;
                

                span {
                    position: absolute;
                    top: 22px;
                    left: 21px;

                    @media (max-width: $screen-md) {
                        top: 14px;
                        left: 14px;
                    }
                }

                img {
                    position: absolute;
                    width: 70px;
                    top: 70px;

                    @media (max-width: $screen-md) {
                        width: 50px;
                        top: 70px;
                    }
                }
                
                &:hover {
                    transform: translateY(-70px);
                    transition: transform .4s ease-in-out;
                }

                &:not(hover) {
                    transform: translateY(0px);
                    transition: transform .4s ease-in-out;
                }
            }
        }

        .footer-top {
            display: flex;
            padding-bottom: 20px;

            @media (max-width: $screen-lg) {
                flex-direction: column;
            }

            @media (min-width: $screen-lg) {
                .blocks+.blocks {
                    margin-left: 44px;
                }
            }

            .blocks {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 33.33%;

                @media (max-width: $screen-lg) {
                    width: 100%;
                    height: 100%;
                }

                .block {

                    h3 {
                        @include h3;
                        margin: 19px 0 0;

                        @media (max-width: $screen-lg) {
                            @include h3-lg;
                        }
                    }

                    p {
                        margin: 0 0 19px;

                        @media (max-width: $screen-lg) {
                            font-size: 17px;
                            line-height: 23px;
                            margin: 0 0 0 0;
                        }
                    }

                    ul {
                        margin: 0 0 19px;
                        list-style: none;
                        padding-left: 0;

                        @media (max-width: $screen-lg) {
                            @include h3-lg;
                            margin: 0 0 0 0;
                        }
                    }

                    a {
                        color: $color-white;

                        @media (max-width: $screen-lg) {
                            @include h3-lg;
                            margin: 0 0 0 0;
                        }

                        &:hover {
                            color: $color-dark-grey;
                            transition: color .4s ease-in-out;
                        }

                        &:not(hover) {
                            color: $color-white;
                            transition: color .4s ease-in-out;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;

            @media (max-width: $screen-md) {
                flex-direction: column;
            }

            .block {
                display: flex;
                padding: 18px 0;

                @media (max-width: $screen-lg) {
                    flex-direction: column;
                }
            }

            a {
                color: #231f20;

                &:hover {
                    color: $color-white;
                    transition: color .4s ease-in-out;
                }

                &:not(hover) {
                    color: #231f20;
                    transition: color .4s ease-in-out;
                }
            }

            @media (min-width: $screen-lg) {
                a+a {
                    padding-left: 44px;
                }

                ;
            }


            select {
                margin-left: 20px;
                border: 0px solid;
                padding: 0 20px;
                font-size: 15px;
                line-height: 15px;
                -webkit-appearance: none;
                height: 40px;
                color: $color-white;
                background-color: $color-black;

                @media (max-width: $screen-md) {
                    align-self: flex-end;
                }

                &:hover {
                    background-color: $color-dark-grey;
                    transition: color .4s ease-in-out;
                }

                &:not(hover) {
                    background-color: $color-black;
                    transition: color .4s ease-in-out;
                }
            }
        }
    }
}

// --- / footer ---